@import "tailwindcss";

@theme {
    --font-Outfit: "Outfit", "sans-serif";
    --font-Ovo: "Ovo", "serif";
    --color-lightHover: #fcf4ff;
    --color-darkHover: #183D3D;
    --color-darkTheme: #040D12;
    --shadow-black: 4px 4px 0 #000;
    --shadow-white: 4px 4px 0 #fff;
}

@layer utilities{
    .grid-cols-auto {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

/* for light and dark theme */
@custom-variant dark (&:where(.dark, .dark *));